* {
    margin: 0%;
    padding: 0%;
}

:root {
    font-family: 'Alice', serif;
    line-height: 150%;
    color: #573a37;
}

body {
    background-image: url('assets/bg-image.png');
    background-color: #573824;
    background-size: cover;
}

#page {
    box-sizing: border-box;
    background-color: #F0E8C2;
    width: 800px;
    margin: 48px auto;
    padding: 24px;
    border-radius: 24px;
}

img {
    border-radius: 16px;
    display: block;
    margin: auto;
}

main {
    padding: 24px;
}

section+section {
    margin-top: 24px;
}

#about p+p {
    margin-top: 12px;
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
}

ul {
    padding-left: 24px;
}